.hfilter {
  display: block;
  text-align: center;
}
.hfilter__list {
  display: inline-block;
  padding-top: 24px;
  position: relative;
}
.hfilter .title {
  font-size: 120%;
  height: 24px;
}
.hfilter .button {
  cursor: pointer;
  display: table-cell;
  line-height: 2em;
  padding: 0 1rem;
  padding-top: 1rem;
  position: relative;
  word-spacing: normal;
}
.hfilter .button:after {
  background-color: white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #828685;
  content: "";
  display: block;
  height: 12px;
  left: 47%;
  position: absolute;
  top: 0;
  width: 12px;
}
.hfilter .button:before {
  border-bottom: 1px solid #828685;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 6px;
  width: 100%;
}
.hfilter .button:first-child:before {
  left: 50%;
  width: 50%;
}
.hfilter .button:last-child:before {
  right: 50%;
  width: 50%;
}
.hfilter .button.ui-tabs-active,
.hfilter .button.active,
.hfilter .button:hover {
  color: #37bf29;
}
.hfilter .button.ui-tabs-active:after,
.hfilter .button.active:after,
.hfilter .button:hover:after {
  background-color: #37bf29;
  border-color: #37bf29;
}
