select,
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=time],
textarea {
  border-color: #D7DBDA;
  -webkit-border-radius: 2pt;
          border-radius: 2pt;
  border-style: solid;
  border-width: 1px;
}
select:not([multiple]),
input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=time] {
  line-height: 24px;
  height: 24px;
  vertical-align: baseline;
  padding: 0 0.5rem;
}
label input[type=checkbox] {
  height: 1em;
  vertical-align: middle;
}
select[multiple] {
  overflow-y: scroll;
  padding: 0.5rem;
}
textarea {
  padding: 0.5rem;
  resize: vertical;
}
.form__row td {
  padding-bottom: 1em;
  vertical-align: top;
}
.form__row .form__field input[type=text] {
  width: 80%;
}
.form__error {
  color: #37bf29;
  list-style: none;
}
.form__legend {
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.errorlist {
  padding: 0.5rem;
}
.errorlist li {
  color: #37bf29;
  list-style: none;
}
.field__help_text {
  color: #828685;
  font-size: 0.8em;
  font-style: italic;
  clear: both;
}
.field__required {
  color: red;
  margin-left: 2pt;
}
.field__errors ul {
  padding: 0;
}
.field__errors ul li {
  color: #37bf29;
  list-style: none;
}
.form-table th,
.form-table .item__title {
  min-width: 200px;
  max-width: 200px;
  text-align: right;
  padding-right: 1rem;
}
.popup input[type=text],
.popup input[type=password] {
  line-height: 48px;
  height: 48px;
}
input[type=submit] {
  text-transform: uppercase;
}
