{% if forloop.counter == 6 %}
{#  <div class="pt-10">#}
{#  <h3>Читайте самые интересные материалы:</h3>#}
{#  <script type="text/javascript" src="https://code.giraff.io/data/widget-tourpromru.js" async></script>#}
{#<div id="grf_tourpromru_2" class="pt-15"></div>#}
{#  </div>#}

{#  <script async src="https://yastatic.net/pcode-native/loaders/loader.js"></script>#}
{#  <script>#}
{#    (yaads = window.yaads || []).push({#}
{#      id: "114210-20",#}
{#      render: "#id-114210-20"#}
{#    });#}
{#  </script>#}
{#  <div id="id-114210-20"></div>#}
{% elif forloop.counter == 11 %}
{#  <script async src="https://yastatic.net/pcode-native/loaders/loader.js"></script>#}
{#  <script>#}
{#    (yaads = window.yaads || []).push({#}
{#      id: "114210-23",#}
{#      render: "#id-114210-23"#}
{#    });#}
{#  </script>#}
{#  <div id="id-114210-23"></div>#}
{% endif %}
