{% if object_list|length %}{% load banner_tags static %}
{#<link rel="stylesheet" href="{% static 'css/ui/articles.css' %}">#}
<div class="panel top-articles">
    <div class="panel-heading">
        <h2><a href="{% url 'articles:list' %}">Все статьи о ЗОЖ</a></h2>
    </div>

    <div class="panel-body news-block-list--narrow">
    {% for object in object_list %}
      {% if forloop.counter == 4 %}
      <div class="grid__col-12">
{#          {% show_banner_place 'TourBusinessBlock_1_2' %}#}
        </div>
      {% endif %}
      {% include "news/blocks/_article_top_item.html" %}
    {% endfor %}
    </div>

    <div class="panel-footer">
        <p class="align-center">
            <a href="{% url 'articles:list' %}" class="btn2">Все статьи по ЗОЖ</a>
        </p>
    </div>
</div>
{% endif %}
