<div class="panel top-news">
  <div class="panel-heading">
    <h2><a href="{% url 'news-list' %}">{{ subject }}</a></h2>
  </div>

  <div class="panel-body news-block-list--narrow">
    {% for object in object_list %}
      {% load thumbnail %}
      <section class="news-block">
        <div class="news-block__header">
          {% block header %}{# ЭТАЛОН ХЕДЕРА #}
            <div class="photo-wrap">
              <a href="{{ object.get_absolute_url }}">
                {% thumbnail object.get_cover.image "480x360" crop="center" as image %}
                  <img  src="{{ image.url }}" alt="" style="height: 280px">
                {% empty %}
                  {% thumbnail NOIMAGE_URL "480x360" crop="center" as noimage %}
                    <img src="{{ noimage.url }}" class="noimage" alt="">
                  {% endthumbnail %}
                {% endthumbnail %}</a>

              <span class="photo__title photo__title--right">
                {% ifnotequal object.get_comment_count 0 %}
                  <a class="counter-icon news-block__comments" href="{{ object.get_absolute_url }}#comments"
                     title="Количество комментариев">
                    <span class="fa fa-comment"></span> {{ object.get_comment_count }}
                </a>
                {% endifnotequal %}

                {% if object.video or object.youtube_video %}
                  <a class="counter-icon news-block__has-video" href="{{ object.video.get_absolute_url }}"
                     title="Видео">
                    <span class="fa fa-video-camera"></span>
                </a>
                {% endif %}

                {% if object.photogallery %}
                  <a class="counter-icon news-block__has-photogallery" href="{{ object.photogallery.get_absolute_url }}"
                     title="Фотографии">
                    <span class="fa fa-camera"></span>
                </a>
                {% endif %}

                <span title="Количество просмотров" class="counter-icon visits_count noselect">
                    <span class="fa fa-eye"></span> {{ object.get_visits }}
                </span>
            </span>
            </div>
          {% endblock %}
        </div>

        <div class="news-block__body">
          {% block body %}
            <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>

            <div class="news-block__text">
              <a class="link-more" href="{{ object.get_absolute_url }}">
                {{ object.text|striptags|truncatewords:"35"|safe }}
              </a>
            </div>
          {% endblock %}
        </div>

        <div class="news-block__footer">
          {% block footer %}
            {% ifnotequal object.countries.count 0 %}
              {% with object.countries.all as labels %}
                {% include "redesign2/blocks/labels.html" %}
              {% endwith %}
            {% endifnotequal %}

            <div class="no-labels">
            <span class="news-block__date date">
                <span class="fa fa-clock-o"></span> {{ object.pubdate|date:"d M y" }}
            </span>
            </div>
          {% endblock %}
        </div>
      </section>

    {% endfor %}
  </div>

  <div class="panel-footer panel-footer--center">

    {% if request.user.is_authenticated %}
      {% if request.user.is_advertiser %}
        <a href="/profi/emails/" class="btn btn-small btn-default">
          Подписаться
        </a>
      {% elif request.user.is_custom_user %}
        <a href="{% url 'accounts_subscriptions' %}" class="btn btn-small btn-default">
          Подписаться
        </a>
      {% endif %}
    {% else %}
      <span class="btn btn-small btn-default open-popup" data-target="#login-popup" title="Требуется авторизация">
            Подписаться
        </span>
    {% endif %}

    <a href="{% url 'news-list' %}" class="btn2">Все новости туризма</a>
  </div>
</div>
