
<b>{{month_str}} {{year_id}}</b><hr>

<table cellpadding="5" cellspacing="5">
    <tr>
        <td valign="top"><b>VIP</b></td>
        <td valign="top"><b>VIP Menu</b></td>
        <td valign="top"><b>NEWS-ВИДЖЕТ</b></td>
        <td valign="top"><b>ТурБизнес</b></td>
        <td valign="top"><b>Бюллетень</b></td>
        <td valign="top"><b>ТурОпедия</b></td>
        <td valign="top"><b>Виды Туризма</b></td>
        <td valign="top"><b>Круизы</b></td>
        <td valign="top"><b>Социальная сеть</b></td>
    </tr>
    <tr>
        <td valign="top">{{html_result_vip}}</td>
        <td valign="top">{{html_result_vipmenu}}</td>
        <td valign="top">{{html_result_news}}</td>
        <td valign="top">{{html_result_bus}}</td>
        <td valign="top">{{html_result_bulletin}}</td>
        <td valign="top">{{html_result_tour_pr}} <br> {{html_result_tour}}</td>
        <td valign="top">{{html_result_tour_type}}</td>
        <td valign="top">{{html_result_cruise}}</td>
        <td valign="top">{{html_result_soc}}</td>
    </tr>
    
</table>






