{% load thumbnail %}{% load custom_utils %}
<section class="news-list__item">
  {% if show_date_circle %}
    <div class="news-item__date hidden-xs hidden-xxs">
      <div class="date-circle">
        <div class="date">{{ object.pubdate|date:"d.m" }}</div>
        <div class="time">{{ object.pubdate|date:"H:i" }}</div>
      </div>
    </div>
  {% endif %}

  <div class="news-item__block news-block">
    <div class="grid">
      <div class="grid__col-sm-6 news-item__header">
        {% block header %}
          {% include "news/blocks/news_photo_wrap.html" %}
        {% endblock %}
      </div>

      <div class="grid__col-sm-6 news-item__body">
        {% block body %}
          <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
          <div class="news-item__text">
            <a class="news-block__text link-more" href="{{ object.get_absolute_url }}">
              {{ object.text|striptags|truncatechars:"480"|balance_title_n_text2:object.title|safe }}
            </a>
          </div>
        {% endblock %}
      </div>
    </div>

    <div class="news-item__footer">
      {% ifnotequal object.countries.count 0 %}
        {% with object.countries.all as labels %}
          {% include "includies/blocks/labels.html" %}
        {% endwith %}
      {% endifnotequal %}

      <div class="no-labels">
      <span class="news-block__date date">
        <span class="fa fa-clock-o"></span> {{ object.pubdate|date:"d M y" }}
      </span>
      </div>
    </div>
  </div>
</section>
