@charset "utf-8";
/* CSS Document */

.ab1, .ab2, .ab3, .ab4{font-size:1px; overflow:hidden; display:block;}
.ab1 {height:1px; background:#D0D1D6; margin:0 5px;}
.ab2 {height:1px; background:#fff; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.ab3 {height:1px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.ab4 {height:2px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.Acontentb {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.Acontentb div {margin-left: 5px;}

.bb1, .bb2, .bb3, .bb4{font-size:1px; overflow:hidden; display:block;}
.bb1 {height:1px; background:#D0D1D6; margin:0 5px;}
.bb2 {height:1px; background:#fff; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.bb3 {height:1px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.bb4 {height:2px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.Bcontentb {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.Bcontentb div {margin-left: 5px;}

.cb1, .cb2, .cb3, .cb4{font-size:1px; overflow:hidden; display:block;}
.cb1 {height:1px; background:#D0D1D6; margin:0 5px;}
.cb2 {height:1px; background:#fff; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.cb3 {height:1px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.cb4 {height:2px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.Ccontentb {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.Ccontentb div {margin-left: 5px;}

.db1, .db2, .db3, .db4{font-size:1px; overflow:hidden; display:block;}
.db1 {height:1px; background:#D0D1D6; margin:0 5px;}
.db2 {height:1px; background:#fff; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.db3 {height:1px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.db4 {height:2px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.Dcontentb {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.Dcontentb div {margin-left: 5px;}

.b1, .b2, .b3, .b4{font-size:1px; overflow:hidden; display:block;}
.b1 {height:1px; background:#D0D1D6; margin:0 5px;}
.b2 {height:1px; background:#F0F1F6; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.b3 {height:1px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.b4 {height:2px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.contentb {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.contentb div {margin-left: 5px;}

.contentb1 {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center; }
.contentb2 {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;  display: none;}
.contentb3 {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;  display: none;}
.contentb4 {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;  display: none;}


.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#fff; border-left:1px solid #D0D1D6; border-right:1px solid #D0D1D6;}
.xb1 {margin:0 5px; background:#D0D1D6;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xb2_c, .xb3_c, .xb4_c {background:#F0F1F6; border-left:1px solid #D0D1D6; border-right:1px solid #D0D1D6;}
.head_top_content {display:block; background:#fff; border:0 solid #D0D1D6; border-width:0 1px;  text-align: center;}
.head_top_content_c {display:block; background:#F0F1F6; border:0 solid #D0D1D6; border-width:0 1px;  text-align: center;}


.b1h, .b2h, .b3h, .b4h, .b2bh, .b3bh, .b4bh{font-size:1px; overflow:hidden; display:block;}
.b1h {height:1px; background:#D0D1D6; margin:0 5px;}
.b2h, .b2bh {height:1px; background:#F0F1F6; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.b3h, .b3bh {height:1px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.b4h, .b4bh {height:2px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.b2bh, .b3bh, .b4bh {background: #fff;}
.headh {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;}
.headh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#505887;}
.contenth {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;}
.contenth div {margin-left: 3px; padding-top: 5px; /*color:#000;*/}
.contenth1 div {margin-left: 5px; padding-top: 5px; color:#000;}
.contenth2 div {margin-left: 2px; padding-top: 0;; color:#000;}
.contenth2 {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;}
.headhB {margin-left: 0; background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;}
.headhB h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#505887;}
.contenthB {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;}
.contenthB div {margin-left: 0; padding-top: 5px; color:#000;}
.no-margin div {margin-left: 0 !important;}


.eb1, .eb2, .eb3, .eb4{font-size:1px; overflow:hidden; display:block;}
.eb1 {height:1px; background:#D0D1D6; margin:0 5px;}
.eb2 {height:1px; background:#F0F1F6; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.eb3 {height:1px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.eb4 {height:2px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.econtentb {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.econtentb div {margin-left: 5px; padding: 1px 1px 1px 1px;}

/* for quest */
.qb1, .qb2, .qb3, .qb4{font-size:1px; overflow:hidden; display:block;}
.qb1 {height:1px; background:#D0D1D6; margin:0 5px;}
.qb2 {height:1px; background:#F0F1F6; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.qb3 {height:1px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.qb4 {height:2px; background:#F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.Qcontentb {background: #F0F1F6; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.Qcontentb div {margin-left: 5px;}

.qqb1, .qqb2, .qqb3, .qqb4{font-size:1px; overflow:hidden; display:block;}
.qqb1 {height:1px; background:#D0D1D6; margin:0 5px;}
.qqb2 {height:1px; background:#fff; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.qqb3 {height:1px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.qqb4 {height:2px; background:#fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.QQcontentb {background: #fff; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6;  text-align: center;}
.QQcontentb div {margin-left: 5px;}


/* orange style*/
.ob1h, .ob2h, .ob3h, .ob4h, .ob2bh, .ob3bh, .ob4bh{font-size:1px; overflow:hidden; display:block;}
.ob1h {height:1px; background:#ffb751; margin:0 5px;}
.ob2h, .ob2bh {height:1px; background:#FFD79B; border-right:2px solid #ffb751; border-left:2px solid #ffb751; margin:0 3px;}
.ob3h, .ob3bh {height:1px; background:#FFD79B; border-right:1px solid #ffb751; border-left:1px solid #ffb751; margin:0 2px;}
.ob4h, .ob4bh {height:2px; background:#FFD79B; border-right:1px solid #ffb751; border-left:1px solid #ffb751; margin:0 1px;}
.ob2bh, .ob3bh, .ob4bh {background: #fff;}
.oheadh {background: #FFD79B; border-right:1px solid #ffb751; border-left:1px solid #ffb751;}
.oheadh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#505887;}
.ocontenth {background: #FFF7EA; border-right:1px solid #ffb751; border-left:1px solid #ffb751;}
.ocontenth div {margin-left: 3px; padding-top: 5px; color:#000;}
.ocontenth1 div {margin-left: 5px; padding-top: 5px; color:#000;}

/* red gradient */
.redb1h, .redb2h, .redb3h, .redb4h, .redb2bh, .redb3bh, .redb4bh{font-size:1px; overflow:hidden; display:block;}
.redb1h {height:1px; background:#D0D1D6; margin:0 5px;}
.redb2h, .orangeb2bh {height:1px; background:#f22424; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.redb3h, .orangeb3bh {height:1px; background:#f22424; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.redb4h, .orangeb4bh {height:2px; background:#f22424; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.redb2bh, .orangeb3bh, .orangeb4bh {background: #fff;}
.redheadh {
    background: #f22424;
    border-right:1px solid #D0D1D6;
    border-left:1px solid #D0D1D6;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #f22424, #ba0806);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#f22424), to(#ba0806));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#f22424', EndColorStr='#ba0806', GradientType=0);
    }
.redheadh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#fff;}
.redheadh h1 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#fff;}

/* orange gradient */
.orangeb1h, .orangeb2h, .orangeb3h, .orangeb4h, .orangeb2bh, .orangeb3bh, .orangeb4bh{font-size:1px; overflow:hidden; display:block;}
.orangeb1h {height:1px; background:#D0D1D6; margin:0 5px;}
.orangeb2h, .orangeb2bh {height:1px; background:#ffbe66; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.orangeb3h, .orangeb3bh {height:1px; background:#ffbe66; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.orangeb4h, .orangeb4bh {height:2px; background:#ffbe66; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.orangeb2bh, .orangeb3bh, .orangeb4bh {background: #fff;}
.orangeheadh {
    background: #ffbe66;
    border-right:1px solid #D0D1D6;
    border-left:1px solid #D0D1D6;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffbe66, #f08400);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffbe66), to(#f08400));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffbe66', EndColorStr='#f08400', GradientType=0);
    }
.orangeheadh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#fff;}

.orangeheadh1 {
    background: #ffbe66;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffbe66, #f08400);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffbe66), to(#f08400));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffbe66', EndColorStr='#f08400', GradientType=0);
    }
.orangeheadh1 h1 {padding: 4px; color:#fff; font-size: 1.2em; margin-top: 0;}


/* blue gradient */
.blueb1h, .blueb2h, .blueb3h, .blueb4h, .blueb2bh, .blueb3bh, .blueb4bh{font-size:1px; overflow:hidden; display:block;}
.blueb1h {height:1px; background:#D0D1D6; margin:0 5px;}
.blueb2h, .blueb2bh {height:1px; background:#458bcb; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.blueb3h, .blueb3bh {height:1px; background:#458bcb; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.blueb4h, .blueb4bh {height:2px; background:#458bcb; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.blueb2bh, .blueb3bh, .blueb4bh {background: #fff;}
.blueheadh {
    background: #458bcb;
    border-right:1px solid #D0D1D6;
    border-left:1px solid #D0D1D6;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #458bcb, #144781);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#458bcb), to(#144781));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#458bcb', EndColorStr='#144781', GradientType=0);
    }
.blueheadh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#fff;}
.blueheadh h3 a, .blueheadh h3 a:hover {color:#fff;}
.blueheadh h3 a:hover {background-color:transparent;}
.blueheadh h1 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#fff;}

.bluextop, .bluexbottom {display:block; background:transparent; font-size:1px;}
.bluexb1, .bluexb2, .bluexb3, .bluexb4 {display:block; overflow:hidden;}
.bluexb1, .bluexb2, .bluexb3 {height:1px;}
.bluexb2, .bluexb3, .bluexb4 {background:#458bcb; border-left:1px solid #D0D1D6; border-right:1px solid #D0D1D6;}
.bluexb1 {margin:0 5px; background:#D0D1D6;}
.bluexb2 {margin:0 3px; border-width:0 2px;}
.bluexb3 {margin:0 2px;}
.bluexb4 {height:2px; margin:0 1px;}

.blueheadh1 {
    background: #458bcb;
    border-right:1px solid #D0D1D6;
    border-left:1px solid #D0D1D6;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #458bcb, #144781);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#458bcb), to(#144781));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#458bcb', EndColorStr='#144781', GradientType=0);
    }
.blueheadh1 h1 {padding: 4px; color:#fff; font-size: 1.2em; margin-top: 0;}


/* gray gradient */
.grayb1h, .grayb2h, .grayb3h, .grayb4h, .grayb2bh, .grayb3bh, .grayb4bh{font-size:1px; overflow:hidden; display:block;}
.grayb1h {height:1px; background:#D0D1D6; margin:0 5px;}
.grayb2h, .grayb2bh {height:1px; background:#f1f1f1; border-right:2px solid #D0D1D6; border-left:2px solid #D0D1D6; margin:0 3px;}
.grayb3h, .grayb3bh {height:1px; background:#f1f1f1; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 2px;}
.grayb4h, .grayb4bh {height:2px; background:#f1f1f1; border-right:1px solid #D0D1D6; border-left:1px solid #D0D1D6; margin:0 1px;}
.grayb2bh, .grayb3bh, .grayb4bh {background: #fff;}
.grayheadh {
    background: #f1f1f1;
    border-right:1px solid #D0D1D6;
    border-left:1px solid #D0D1D6;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #f1f1f1, #d4d4d4);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#f1f1f1), to(#d4d4d4));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#f1f1f1', EndColorStr='#d4d4d4', GradientType=0);
    }
.grayheadh h3 {margin: 0px 10px 0px 10px; padding-bottom: 3px; color:#525252;}


.grayrubric {
    background: #f1f1f1;
    padding: 3px;
    margin-right: 5px;
    font-weight: bold;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #f1f1f1, #d4d4d4);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#f1f1f1), to(#d4d4d4));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#f1f1f1', EndColorStr='#d4d4d4', GradientType=0);
    }

.gradientExample{
    /* fallback (Opera) */
    background: #ffe98f;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #ffe98f, #ffffff);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#ffe98f), to(#ffffff));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#ffe98f', EndColorStr='#ffffff', GradientType=0);
  }



.yelchoice {

    background:url("/site_media/images/menu_info_on.jpg") no-repeat scroll 0 0 transparent;
    float:left;
    width:136px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}
.yelchoice a {color:#000; font-weight:bold; vertical-align: middle;}
.yelchoice a:hover {color:#000; font-weight:bold; vertical-align: middle;background-color: #45a4d5;}
.yelother {

    background:url("/site_media/images/menu_info_off.jpg") no-repeat scroll 0 0 transparent;
    float:left;
    width:136px;
    height: 32px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}
.yelother a {color:#000; font-weight:bold; vertical-align: middle;}
.yelother a:hover {color:#000; font-weight:bold; vertical-align: middle;background-color: #f08400;}
