<div class="block align-center" style="padding-top: 10px">{% load static %}
  <h3>Подпишитесь на новости ЗОЖ:</h3>
</div>
<div class="grid grid--align-content-start">
  <ul class="news-list-subscribers">
    <li class="grid__col-auto sign" title="Подписка на Google. News">
      <a target="_blank" href="https://news.google.com/publications/CAAqBwgKMPaDoQswjo65Aw?hl=ru&gl=RU&ceid=RU:ru">
        <img class="news-list-sub-icon" src="{% static 'icons/icons8-google-100.png' %}">
        <figcaption>Google News</figcaption>
      </a>
    </li>
    <li class="grid__col-auto sign" style="min-width: 200px">
      <div class="pw-buttons"></div>
      <figcaption style="padding-top: 7px; color: #1a6d3c;">Подписка PUSH</figcaption>
    </li>
    <li class="grid__col-auto sign">
      <a href="https://t.me/zoj_news" title="Подписка на новости по почте">
        <img class="news-list-sub-icon" src="{% static 'icons/icons8-telegramm.png' %}">
        <figcaption>Телеграмм</figcaption>
      </a>
    </li>
  </ul>
</div>
